<div class="search">
  <form #form="ngForm" (submit)= "onSubmit()">
    <input type="text" placeholder="Enter city name" name="city" [(ngModel)]="cityName" >
  </form>
</div>
<div class="Container" *ngIf="weatherData">
  <div class="top">
    <img src="../assets/hot.png" *ngIf="weatherData.main.temp - 273.15 > 15" />
    <img src="../assets/cold.png" *ngIf="weatherData.main.temp - 273.15 <= 15" />
    <div class="weather-data">
      <div class="location">{{ weatherData.name}}</div>
      <div class="temperature">{{ weatherData.main.temp - 273.15 | number: '1.0-0' }}°C</div>
    </div>
  </div>
  
  <div class="bottom">
    <div class="more-info-label">
      More Information
    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/min.png">
          <span>min</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.main.temp_min - 273.15 | number: '1.0-0' }}°C
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/max.png">
          <span>max</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.main.temp_max - 273.15 | number: '1.0-0' }}°C
        </div>
      </div>

      

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/humidity.png">
          <span>humidity</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.main.humidity | number: '1.0-0' }}%
        </div>
      </div>
      
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/wind.png">
          <span>min</span>
        </div>
        <div class="info-block-value">
          {{weatherData.wind.speed}} km/h
        </div>
      </div>
    </div>
  </div>

</div>

<router-outlet></router-outlet>
